body {
    background: rgb(111, 184, 236);
  }
  
  .cloud-icon {
    font-size: 30px;
    color: rgb(84, 89, 92);
  }
  
  .part-cloud-icon {
    font-size: 30px;
    color: rgb(232, 239, 240);
  }
  
  .rain-icon {
    font-size: 30px;
    color: rgb(60, 60, 136);
  }
  
  .search {
    margin: 20px;
    padding: 20px;
  }
  .row,
  .col {
    padding: 2px;
    margin: 2px;
    border: 2px;
  }
  